{% extends "base.html" %} {% block title %}Admin{% endblock %} {% block content
%}
<div class="body">
		<table  class="table table-hover" style="width:100%">
       <thead class="table table-striped">
			<tr>
                <th>User Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Action</th>
			</tr>
        </thead>
        <tbody>
			<!-- here is a for-loop to give us all the socks -->
			{% for sock in users %}
			<tr>
                <td></td>
				<td>{{ sock.email }}</td>
				<td>{{ sock.first_name }}</td>
                <td width="200">
                    <a href="/admin" class="btn btn-danger btn-delete btn-sm" >Remove</a>
                </td>
			</tr>
			{% endfor %}
        </tbody>
		</table>
</div>
{% endblock %}
