{#{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content#}
{#%}#}
{#    <br><br/>#}
{#<div class="shadow p-3 mb-5 bg-body rounded">#}
{#    <form action="/notes/edit/{{ note_id.id }}" method="POST">#}
{#        <div class="mb-3 fw-bolder ">#}
{#          <label for="exampleFormControlInput1" class="form-label">Title*</label>#}
{#          <input type="text" class="form-control" id="title" name="title" value="{{ note_id.title }}">#}
{#        </div>#}
{#        <div class="mb-3 fs-1">#}
{#          <label for="exampleFormControlTextarea1" class="form-label">Type Your Notes Below</label>#}
{#          <textarea class="form-control" name="note" id="note"  rows="3"></textarea>#}
{#        </div>#}
{#        <div>#}
{#            <button type="submit" class="btn btn-secondary">Add Note</button>#}
{#        </div>#}
{#    </form>#}
{#</div>#}
{#{% endblock %}#}
{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}

<div class="shadow p-3 mb-5 bg-body rounded">
	<form method="POST">
		{{ form.hidden_tag() }}

		{{ form.title.label(class="form-label") }}

		{{ form.title(class="form-control") }}
		<br/>

		{{ form.data.label(class="form-label") }}

		{{ form.data(class="form-control", rows="3") }}
		<br/>

		{{ form.submit(class="btn btn-outline-dark ") }}


	</form>


</div>
<a href="{{ url_for('views.notes') }}" class="btn btn-outline-dark btn-sm" id="edit" >Back</a>
{% endblock %}