{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
    <a href="{{ url_for('views.add_notes') }}" class="btn btn-outline-dark btn-lg fa-solid fa-plus " id="add" >Add</a>
    {%  for note in notes %}
<div class="shadow p-3 mb-5 bg-body rounded">
        <h2><a href="/notes/{{ note.id }}" >{{ note.title }}</a></h2>
        Created on : {{ note.date }}<br><br/>
        <h6>{{ note.data }}</h6><br/>
        <a href="/notes/{{ note.id }}" class="btn btn-outline-dark btn-sm" id="edit" >View</a>
        <a href="/notes/edit/{{ note.id }}" class="btn btn-outline-dark btn-sm" id="edit" >Edit</a>
        <a href="/notes/delete/{{ note.id }}" class="btn btn-outline-danger btn-sm" id="edit" >Delete</a>
</div>
    {% endfor %}
{% endblock %}