{% extends "base.html" %} {% block title %}Add Password{% endblock %} {% block content
%}
    <br><br/>
<div class="shadow p-3 mb-5 bg-body rounded">
    <form method="POST">
      <div class="form-group">
        <label for="text">Website</label>
        <input
          type="text"
          class="form-control"
          id="url"
          name="url"
          placeholder="Website Url"
          value=""
        />
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          class="form-control"
          id="username"
          name="username"
          placeholder="Username"
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="psw"
          name="psw"
          data-toggle="password"
          data-placement="before"
          placeholder="Enter password"
        />
      </div>
      <br/>
        <div>
          <a  class="btn btn-secondary" onclick="Password()">Generate</a>
            <button  type="submit" class="btn btn-outline-dark btn-sm " id="edit" >Add</button>
        </div>
    </form>
</div>

    <i> <a href="/" class="btn btn-outline-dark btn-sm fa fa-arrow-left" id="edit" >Back</a></i>
{% endblock %}
