{% extends "base.html" %} {% block title %}Add Password{% endblock %} {% block content
%}
<form method="POST">
  <h3 align="center">Add New</h3>
  <div class="form-group">
    <label for="text">Website</label>
    <input
      type="url"
      class="form-control"
      id="url"
      name="url"
      placeholder="Website Url"
    />
  </div>
  <div class="form-group">
    <label for="username">Username</label>
    <input
      type="text"
      class="form-control"
      id="username"
      name="username"
      placeholder="Username"
    />
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      id="psw"
      name="password"
      data-toggle="password"
      data-placement="before"
      placeholder="Enter password"
    />
  </div>
  <br />
  <button type="button" class="btn btn-primary" onclick="Password()">Generate</button>
  <button type="submit" class="btn btn-primary">Add</button>
</form>
{% endblock %}
