{% extends "base.html" %} {% block title %}Add Password{% endblock %} {% block content
%}
<form method="POST">
    <br>
  <div class="form-group">
    <label for="username">Username</label>
      <br>
    <input
      type="text"
      class="form-control"
      id="username"
      name="username"
      placeholder="Enter your Username!"
    />
  </div>
  <br>
    <div>
  <button type="submit" class="btn btn-primary">Check</button>
    </div>
    <br />
    <div class="form-group">
    <label for="username">Password</label>
      <br>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="Enter your Password!"
    />
  </div>
  <br>
    <div>
  <button type="submit" class="btn btn-primary">Check</button>
    </div>
</form>
{% endblock %}
