{% extends "base.html" %} {% block title %}Add Password{% endblock %} {% block content
%}
<form method="POST">
    <br />
    <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      data-toggle="password"
      data-placement="before"
      placeholder="Enter password"
    />
  </div>
  <br>
    <div>
  <button type="submit" class="btn btn-primary" onclick="check()">Check</button>
    </div>
</form>
{% endblock %}
