{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
    <a href="/addpass" class="btn btn-outline-dark btn-lg fa-solid fa-plus" id="add" >Add</a>
<div class="body">
		<table id="employeeList" class="table table-hover" style="width:100%">
        <thead class="table table-striped">
			<tr>
                <th>Sl no</th>
				<th>Website</th>
				<th>Email</th>
				<th>Password</th>
                <th>Action</th>
			</tr>
        </thead>
        <tbody>
			<!-- here is a for-loop to give us all the socks -->
			{% for sock in user.pass_list %}
			<tr>
                <td></td>
				<td>{{ sock.website }}</td>
				<td>{{ sock.email }}</td>
				<td>{{ sock.password }}</td>
                <td width="200">
                    <a href="/update/{{ sock.id }}" class="btn btn-outline-dark btn-sm" id="edit" >Edit</a>
                    <a href="/" class="btn btn-outline-danger btn-sm" onclick="passdelete({{ sock.id }})" id="edit">Delete</a>
                </td>
			</tr>
			{% endfor %}
        </tbody>
		</table>
</div>
{% endblock %}
