{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
    <br><br/>

<div class="card">
  <div class="card-header">
     {{ user.first_name }}
  </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text"><strong>Name:</strong>
    {{ user.first_name }}
    <br/>
    <strong>Email:</strong>
    {{ user.email }}
    <br/>
    <strong>Phone No:</strong>
    {{ user.phone_no }}
    <br/>
    <strong>Date joined:</strong>
        {{ user.date_added }}</p>
    <a href="{{ url_for('auth.index') }}" class="btn btn-outline-danger btn-sm">Logout</a>
  </div>
</div>


{% endblock %}
