{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<center>
    <div class="shadow-lg p-3 mb-5 bg-body rounded" id="login">
    <i class="fa-solid fa-arrow-right-to-bracket fa-2xl " id="logo"></i>
    <form method="POST">
        <strong><label for="email" class="form-label">Email Address</label></strong>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="name@example.com"
            />
        <strong><label for="password">Password</label></strong>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              data-toggle="password"
              data-placement="before"
              placeholder="********"
              />
      <br/>
      <button type="submit" class="btn btn-outline-dark btn-ml">Login</button>
    </form>
    <br><br/>
    <p> Need an account? <a href="/signup">Sign Up</a></p>
    </div>
</center>

{% endblock %}
