{% extends "base.html" %} {% block title %}Update{% endblock %} {% block content
%}

<div class="shadow p-3 mb-5 bg-body rounded">
    <form action="/update/{{ name_to_update.id }}" method="POST">
      <h3 align="center">Update</h3>
      <div class="form-group">
        <label for="text">Website*</label>
        <input
          type="text"
          class="form-control"
          id="website"
          name="website"
          placeholder="Website Url"
          value="{{ name_to_update.website}}"
        />
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          class="form-control"
          id="email"
          name="email"
          placeholder="Username"
          value="{{ name_to_update.email }}"
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          data-toggle="password"
          data-placement="before"
          placeholder="Enter password"
          value="{{ name_to_update.password }}"
        />
      </div>
      <br />
        <div>
      <button type="button" class="btn btn-primary" onclick="Password()">Generate</button>
      <button type="submit" class="btn btn-primary">Update</button>
            </div>
    </form>
</div>
{% endblock %}