body {
  counter-reset: serial-number ;  /* Set the serial number counter to 0 */
}

body td:first-child:before {
  counter-increment: serial-number;  /* Increment the serial number counter */
  content: counter(serial-number);  /* Display the counter */
}
.btn {
  /*margin-top: 10px;*/
  margin-right: 10px;
}
.body1{
  background-color: #F9F2ED;
}
#login{
  margin-top: 70px;
}
#signup{
  margin-top: 50px;
}
#edit {
  margin-right: 10px;
}