body {
  counter-reset: serial-number ;  /* Set the serial number counter to 0 */
}

body td:first-child:before {
  counter-increment: serial-number;  /* Increment the serial number counter */
  content: counter(serial-number);  /* Display the counter */
}
.btn {
  margin-right: 10px;
}
.body1{
  background-color: #ffffff;
}
#login{
  margin-top: 70px;
}
#signup{
  margin-top: 50px;
}
#edit {
  margin-right: 10px;
}
#nav{
  background-color: #2596be;

}
.link{
  outline-color: #333333;
}
#add{
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 1100px;
  font-family: 'Ubuntu', sans-serif;
}

#test1{
  background-color: aqua;
}

#logo{
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 1100px;
}




#title{
  background-color: #e5e5e3;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height:1.5;
  font-weight: bold;
}

p{
  font-family: 'Ubuntu', sans-serif;
}

.container-fluid{
  padding: 3% 5%;
}

.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;

}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.3rem;
  font-family: 'Ubuntu', sans-serif;
}

#features{
  padding: 5% 10%;
}
.feature-box{
  text-align: center;
  padding: 2%;
}

p{
  color: #8f8f8f;
}

#testimonials{
  background-color: #e5e5e3;
  text-align: center;
  padding: 4%;
}

.about-page{
  width: 9%;
  border-radius: 100%;
  margin: 20px;
}
#contact_page{
  padding: 5%;
}

.logo_center{
  text-align: center;
  padding: 4%;
}
#sighup{
  font-family: 'Ubuntu', sans-serif;
  /*width: 60%;*/
  /*height: 10%;*/
  margin-top: 1%;
  padding: 7% 15%;
}

#login{
  width: 50%;
  text-align: left;
}